@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
   --header-height: 3rem;
   /* ===============FONT============ */
   --body-font: 'Poppins', sans-serif;

   --big-font-size: 3.5rem;
   --h1-font-size: 2.25rem;
   --h2-font-size: 1.5rem;
   --h3-font-size: 1.25rem;
   --normal-font-size: 1rem;
   --small-font-size: 0.87rem;
   --smaller-font-size: 0.62rem;
   /* =========== FONT-WEIGHT ========= */
   --font-normal: 400;
   --font-medium: 500;
   --font-semi-bold: 600;
   /* ========== MARGIN-BOTTOM ======== */
   --mb-025: 0.25rem;
   --mb-05: 0.5rem;
   --mb-075: 0.75rem;
   --mb-1: 1rem;
   --mb-1-5: 1.5rem;
   --mb-2: 2rem;
   --mb-2-5: 2.5rem;
   --mb-3: 3rem;
   /* =========== Z-INDEX ========= */
   --z-tooltip: 10;
   --z-fixed: 100;
   --z-modal: 200;

   /* =========COLORS HSL========== */
   --hue: 0;
   --saturation: 0%;
   --title-color: hsl(var(--hue), var(--saturation), 40%);
   --title-color-dark: hsl(var(--hue), var(--saturation), 0%);
   --text-color: hsl(var(--hue), var(--saturation), 25%);
   --body-color: hsl(var(--hue), var(--saturation), 95%);
   --container-color: #fff;
}

/* ======== RESPONSIVE ========== */

@media screen and (max-width: 992px) {
   :root {
      --big-font-size: 2.75rem;
      --h1-font-size: 1.5rem;
      --h2-font-size: 1.25rem;
      --h3-font-size: 1rem;
      --normal-font-size: 0.93rem;
      --small-font-size: 0.8rem;
      --smaller-font-size: 0.75rem;
   }
}
/* ====== GENERAL ======== */

a {
   text-decoration: none;
   color: inherit;
}
/* h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body,
main,
img {
   margin: 0;
   display: block;
   max-width: 100%;
   height: auto;
} */

body,
button,
input,
textarea {
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
}
body {
   background-color: var(--body-color);
   color: var(--text-color);
}

h1,
h2,
h3 {
   margin: 0;
   color: var(--title-color);
   font-weight: var(--font-semi-bold);
}

ul {
   padding: 0;
   margin: 0;
   list-style: none;
}
button {
   cursor: pointer;
   border: none;
   outline: none;
}
html {
   scroll-behavior: smooth;
}

/* ====== REUSABLE CSS CLASSES ======== */
.section {
   padding: 6rem 0 2rem;
}
.section__title {
   text-align: center;
   font-size: var(--h1-font-size);
   color: var(--title-color-dark);
}

.section__subtitle {
   display: block;
   text-align: center;
   font-size: var(--small-font-size);
   margin-bottom: 4rem;
}
/* ====== LAYOUT ======== */
.container {
   max-width: 968px;
   margin-left: auto;
   margin-right: auto;
}
.grid {
   display: grid;
   gap: 1.5rem;
}
/* ====== BUTTONS ======== */
.button {
   display: inline-block;
   background-color: var(--text-color);
   color: var(--container-color);
   padding: 1.25rem 2rem;
   border-radius: 1rem;
   font-weight: var(--font-medium);
}

.button:hover {
   background-color: var(--title-color-dark);
}

.button__icon {
   margin-left: var(--mb-05);
}

.button--flex {
   display: inline-flex;
   align-items: center;
}
/* ====== BREAKPOINTS ======== */
@media screen and (max-width: 992px) {
   .container {
      margin-left: var(--mb-1-5);
      margin-right: var(--mb-1-5);
   }

   .button {
      padding: 1rem 1.75rem;
   }

   .button__icon {
      width: 22px;
      height: 22px;
   }
}
@media screen and (max-width: 768px) {
   body {
      margin: 0 0 var(--header-height) 0;
   }
   .section {
      padding: 1rem 0 4rem;
   }
   .section__subtitle {
      margin-bottom: var(--mb-3);
   }
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 350px) {
   :root {
      --big-font-size: 2.25rem;
   }

   .container {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
   }
}
